@use '@angular/material' as mat;

.card-opcao {
  max-width: 80%;
  margin: 2em auto;
  @include mat.elevation(4);
  border-radius: 16px;
}

.card-crianca {
  @include mat.elevation(4);
  border-radius: 10px;
}

.content {
  padding: 16px;
}

.content > mat-card {
  width: 200px;
}

.icone {
  background-image: url('../../../assets/user_icon.png');
  background-size: cover;
}

.opcao-crianca-btn {
  letter-spacing: 0.1mm;
}

#adiciona:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

#adicionar-crianca-icone {
  height: 60px;
  width: 60px;
}

#adicionar-crianca-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 92px;
}

#adicionar-crianca-titulo {
  margin-top: 10px;
  font-weight: 450;
}

#lista-atividades-card {
  margin-bottom: 500px;
}
