mat-card {
  max-width: 100%;
  max-height: 90%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: none;
  border: none;
  background-color: transparent;
}

mat-card-header {
  margin-top: 8em;
}

body {
  background-image: linear-gradient(to bottom, #5DAFF3, #1C78D3);
}

.mat-button-toggle {
  margin: 10px;
  transition: transform 0.3s ease;
}

.mat-button-toggle:hover {
  transform: scale(1.1);
}

.mat-button-toggle-group {
  border: none !important;
  box-shadow: none !important;
}

.custom-toggle.mat-button-toggle-checked {
  background-color: transparent !important;
  box-shadow: none;
}

#titulo {
  text-align: center;
  font-size: 40px;
  margin-bottom: 50px;
  color: white;
  font-weight: 500;
}

#icone {
  height: 160px;
  margin-top: 10px;
  border-radius: 50%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

#nome {
  color: black;
  font-size: 20px;
  font-weight: 500;
  margin-top: 10px;
  color: white;
}

