@use '@angular/material' as mat;

mat-toolbar {
  height: 75px;
  background-color: white;
  @include mat.elevation(2);
}

.card-opcao {
  max-width: 80%;
  margin: 2em auto;
  @include mat.elevation(4);
  border-radius: 16px;
}

.espacador {
  flex: 1 1 auto;
}

#titulo {
  font-size: 30px;
  background-image: linear-gradient(to top, #5DAFF3, #1C78D3);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: 600;
  cursor: pointer;
}

#botao-opcoes {
  background-color: #E4E6EB;
  color: black;
  letter-spacing: 0.1mm;
}

.atividades-card {
  min-width: 280px;
  min-height: 180px;
  margin: 10px;
  @include mat.elevation(2);
  border-radius: 10px;
}
