mat-card {
  box-shadow: none;
  background-color: transparent;
}

mat-card-header {
  justify-content: center;
}

form {
  margin: 1em;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

mat-form-field {
  margin: 1%;
  width: 100%;
}

mat-dialog-actions {
  margin-bottom: 2em;
}

mat-card-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.valores {
  text-align: left;
}
