<mat-card>
  <mat-card-header>
    <h1 mat-dialog-title>Alterar status da atividade</h1>
  </mat-card-header>

  <mat-card-content>
    <form [formGroup]="formStatusAtv" class="alterar-status-atv-form">

      <mat-form-field appearance="outline">
        <mat-label>Título</mat-label>
        <input matInput disabled [value]="titulo">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Criança</mat-label>
        <mat-select>
          <mat-option *ngFor="let crianca of criancas" [value]="crianca.id">
            {{ crianca.nome }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-radio-group aria-label="Select an option">
        <mat-radio-button value="1">Feito</mat-radio-button>
        <mat-radio-button value="0">Não feito</mat-radio-button>
      </mat-radio-group>

    </form>

  </mat-card-content>
  <mat-card-footer>
    <mat-dialog-actions>
      <button mat-raised-button color=primary mat-button (click)="onSalvar()">Criar</button>
      <button mat-stroked-button mat-dialog-close>Cancelar</button>
    </mat-dialog-actions>
  </mat-card-footer>
</mat-card>
