@use '@angular/material' as mat;

.espacador {
  flex: 1 1 auto;
}

.espacador-botao {
  margin-right: 10px;
}

mat-toolbar {
  height: 75px;
  background-image: linear-gradient(to bottom, #5DAFF3, #1C78D3);
  @include mat.elevation(2);
}

#titulo {
  color: white;
  font-size: 30px;
}

#login-btn {
  height: 50%;
  width: auto;
  font-size: 20px;
}

#cadastro-btn {
  font-size: 16px;
  color: white;
}
