@use '@angular/material' as mat;

.espacador {
  flex: 1 1 auto;
}

.espacador-botao {
  margin-right: 10px;
}

mat-toolbar {
  height: 75px;
  background-color: white;
  @include mat.elevation(2);
}

#titulo {
  font-size: 30px;
  background-image: linear-gradient(to top, #5DAFF3, #1C78D3);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: 600;
  cursor: pointer;
}

#login-btn {
  height: 50%;
  width: auto;
  font-size: 20px;
}

#cadastro-btn {
  font-size: 16px;
  color: black;
}

#botao-opcoes {
  background-color: #E4E6EB;
  color: black;
  letter-spacing: 0.1mm;
}
