.espacador {
  flex: 1 1 auto;
}

.espacador-botao {
  margin-right: 10px;
}

mat-toolbar {
  height: 75px;
}

#titulo {
  color: white;
  font-size: 30px;
}

#login-btn {
  height: 50%;
  width: auto;
  font-size: 20px;
}

#cadastro-btn {
  font-size: 16px;
  color: white;
}
