<mat-toolbar color="primary" *ngIf="mostrarBarra">
  <span id="titulo">FunTask</span>
  <span class="espacador"></span>
      <button mat-button id="cadastro-btn" (click)="onCadastro()">
        Cadastro
      </button>
      <span class="espacador-botao"></span>
      <button mat-button mat-raised-button color="secondary" id="login-btn" (click)="onLogin()">
        Login
      </button>
</mat-toolbar>
<mat-toolbar color="primary" id="nav-logado" *ngIf="logado">
  <span id="titulo">FunTask</span>
  <span class="espacador"></span>
  <button mat-button style="color: white" [matMenuTriggerFor]="menu">Helaine Barreiros</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="onTrocarPerfil()">Trocar de perfil</button>
    <button mat-menu-item>Meus dados</button>
    <button mat-menu-item (click)="onLogout()">Logout</button>
  </mat-menu>
</mat-toolbar>
<router-outlet></router-outlet>
